<div id="price-tables" class="page-layout simple fullwidth" fusePerfectScrollbar>
    <!-- HEADER -->
    <div class="header" fxLayout="row" fxLayoutAlign="start start">

        <div class="hero-text" fxLayout="column" fxLayoutAlign="center center" fxFlex>

            <div class="h1">What is PASS?</div>
            <div class="h3">
                An all-in-one system which helps you to solve all the problems that a candidate will encounter in a driving test
            </div>


        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="faq" fxLayout="row" fxLayoutWrap>

        <div class="title" fxFlex="100">Our Services - As a candidate</div>

        <div class="item" fxFlex="100" fxFlex.gt-xs="50">
            <div class="question">Find your best-fit instructor</div>
            <div class="answer">
                Give us your availability and preferences, we would be able to find you the best-fit instructor!
            </div>
        </div>

        <div class="item" fxFlex="100" fxFlex.gt-xs="50">
            <div class="question">Prepare you for written test</div>
            <div class="answer">
                Get familiar with the questions appeared in wriiten test now by the exercise we provide to you. Save your completed test for easy revision!
            </div>
        </div>

        <div class="item" fxFlex="100" fxFlex.gt-xs="50">
            <div class="question">Remind you to have lessons on-time</div>
            <div class="answer">
                Afraid of missing lesson? No worries! We would be able to send you email for reminding you to attend the lesson!
            </div>
        </div>

        <div class="item" fxFlex="100" fxFlex.gt-xs="50">
            <div class="question">Shop whenever you want</div>
            <div class="answer">
                Your shopping cart is ready! Every accessories you need for driving are here!
            </div>
        </div>

    </div>

    <!-- / PRICE TABLES -->
    <!-- HEADER -->
    <div class="header" fxLayout="row" fxLayoutAlign="start start">

        <div class="hero-text" fxLayout="column" fxLayoutAlign="center center" fxFlex>

            <div class="h1">Meet Our Team</div>
            <!-- <div class="h3">
                A group of talents!
            </div> -->

        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" fxLayout="column">

        <!-- PRICE TABLES -->
        <div class="price-tables" fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>

            <div class="price-table style-2 mat-elevation-z4" fxLayout="column">

                <div class="package-type mat-accent-fg">Jack Gilbert</div>

                <div class="price" fxLayout="row" fxLayoutAlign="center start">
                    <img src="assets/images/avatars/james.jpg">
                </div>

                <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                    <div class="term">
                        Design Manager
                    </div>
                </div>

            </div>
            <div class="price-table style-2 mat-elevation-z4" fxLayout="column">

                <div class="package-type mat-accent-fg">Kathy Anderson</div>

                <div class="price" fxLayout="row" fxLayoutAlign="center start">
                    <img src="assets/images/avatars/katherine.jpg">
                </div>

                <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                    <div class="term">
                        Recruiting Manager
                    </div>
                </div>

            </div>
            <div class="price-table style-2 mat-elevation-z4" fxLayout="column">

                <div class="package-type mat-accent-fg">Kathryn Martinez</div>

                <div class="price" fxLayout="row" fxLayoutAlign="center start">
                    <img src="assets/images/avatars/jane.jpg">
                </div>

                <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                    <div class="term">
                        Director of Sales
                    </div>
                </div>

            </div>





        </div>
        <!-- / PRICE TABLES -->

        <!-- <div class="faq" fxLayout="row" fxLayoutWrap>

            <div class="title" fxFlex="100">Frequently Asked Questions</div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                <div class="question">How does free trial work?</div>
                <div class="answer">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a diam nec augue tincidunt accumsan. In dignissim laoreet
                    ipsum eu interdum.
                </div>
            </div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                <div class="question">Can I cancel any time?</div>
                <div class="answer">
                    Aliquam erat volutpat. Etiam luctus massa ex, at tempus tellus blandit quis. Sed quis neque tellus. Donec maximus ipsum in
                    malesuada hendrerit.
                </div>
            </div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                <div class="question">What happens after my trial ended?</div>
                <div class="answer">
                    Aliquam erat volutpat. Etiam luctus massa ex, at tempus tellus blandit quis. Sed quis neque tellus. Donec maximus ipsum in
                    malesuada hendrerit.
                </div>
            </div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                <div class="question">Can I have a discount?</div>
                <div class="answer">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a diam nec augue tincidunt accumsan. In dignissim laoreet
                    ipsum eu interdum.
                </div>
            </div>

        </div> -->

    </div>

</div>